/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    min-height: 100vh;
    font-family:'Wallpoet', sans-serif;
    background-color: lightgrey;
}


img {
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

#trains{
    
    .main-row{
        font-size: 15px;
    }

    .tab-row{
        color: orange;
    }
}
